* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, rgba(2,209,251,1) 0%, rgba(0,29,36,1) 50%);
}

@media only screen and (max-width: 1024px) {
    body {
      background: rgb(1, 4, 184);
    }
}

@media only screen and (max-width: 768px) {
    body {
      background: rgb(184, 1, 1);
    }
}

@media only screen and (max-width: 480px) {
    body {
      background: rgb(24, 85, 0);
    }
}


header, footer {
    text-align: center;
    color: white;
}

header {
    padding: 150px;
    font-family: 'Roboto', sans-serif;
}

footer {
    padding: 50px;
}

h2 {
    color:rgb(12,109,120) ;
    font-kerning: none;
    letter-spacing: .2rem;
}



.main {
    background-color: white;
    width: 100%;
    height: 33.33%;
    /* border: solid black 3px; */
    padding: 150px;
}



.box2 {
    text-align: right;
}

.wave {
    padding: 0px;
    overflow: hidden;
}
